<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="ng.com.litcakes.schedule_e">

    <!-- Samsung -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />

    <!-- Sony -->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />

    <!-- HTC -->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/scheduleico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/scheduleico"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.AddScheduleActivity"
            android:theme="@style/AddScheduleTheme" />

        <service android:name=".TodosService.TodoJobSevice"
            android:exported="false"
            />
    </application>

</manifest>